/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    background-color: #d9dcd6;
    margin:0 px;
    padding:0px;
    width: 100vw;
}

.jumbotron{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color:#2a607c;
    border-radius: 0px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95vw;
    margin-left: 20px;
    margin-right:20px;
    
}

form {
    width: 25vw;
    margin: 10px;
}

#weather_info {
    width: 60vw;
    margin: 10px;

}

.city{
    margin: 2px;
    justify-content: center;
    width:90%;
    font-size: 20px;
}

#five_day_forecast {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#five_days_weather{
    background-color: deepskyblue;
    color: white;
    margin: 10px;
}

/* .weather-icon{
    width: 90px;
    height: 58px;
}
.weather-icon img{
    width: 90px;
    height: 58px;
} */


/* #current_weather{
    border: blueviolet;
} */